body {
    font-family: sans-serif;
    background-color: rgb(20, 122, 30);
    width: 600px;
}
h1 {
    text-align: center;
    background-color: aqua;
    border-radius: 3px;
}
main img {
     text-align: center;
}
header a {
    text-decoration: none;
    border: 1px solid royalblue;
    background-color: rgb(255, 227, 103);
    padding: 5px;
    border-radius: 10px;
    
}
a:hover {
background-color: rosybrown;
color:aliceblue;
padding: 20px;
}
